@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello There</h1>
    <p>On this website i will list all cities i lived in. Its not much but it is something. :)</p>
</div>
